apiVersion: apps/v1
kind: Deployment
metadata:
  name: fpj-frontend-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fpjfe
  template:
    metadata:
      labels:
        app: fpjfe
    spec:
      containers:
      - name: fpjfe
        image: djtoler/fp-fe-green-useast2
        ports:
        - containerPort: 3000